html{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
    background-image: url("images/russian_blue_bcg.jpg");
    background-repeat: no-repeat;
    color: #456858;
}
header{
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #627c70;
    justify-content: center;
    background: rgba(253, 253, 253, 0.3);
    border-radius: 20px;
}
.grid_container{
    display: grid;
    grid-gap: 20px;
}

.img{
    content: url("./images/russian_blue.jpg")
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
 .box{
    background: rgba(253, 253, 253, 0.3);
     text-align: center;
     padding: 1.5rem 2rem;
     box-shadow: var(--shadow);
     border-radius: 20px;
 }

 footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    background: rgba(253, 253, 253, 0.3);
    border-radius: 20px;
}