html{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
  background-image: url("images/pink_cloud.jpg");
  background-repeat: no-repeat;
  color: #f7b1b3;
}
header{
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d69d9f;
  justify-content: center;
  background: rgba(197, 160, 160, 0.3);
  border-radius: 20px;
}
.grid_container{
  display: grid;
  grid-gap: 20px;
}

.img{
  content: url("./images/sphynx.jpg")
}

.boxes{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box{
  background: rgba(197, 160, 160, 0.3);
   text-align: center;
   padding: 1.5rem 2rem;
   box-shadow: var(--shadow);
   border-radius: 20px;
}

footer{
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  background: rgba(197, 160, 160, 0.3);
  color: #f5cacc;
  border-radius: 20px;
}
.kattknapp
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
    outline: none;
    margin-left: 90px;
    margin-bottom: 1px;
}
.fontknapp
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
margin-left: 90px;
  outline: none;
}

.kattknapp:checked::before
{
  position: absolute;
  font: 30px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 0px;
  content: '\02143';
  transform: rotate(40deg);
}

.fontknapp:checked::before
{
  position: absolute;
  font: 30px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 0px;
  content: '\02143';
  transform: rotate(40deg);
}
button{
    margin-left: 50px;
    margin-top: 50px;
        padding: 10px 20px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color:var(--dark);
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
       }
       
       button:hover {background-color: pink}
       
       button:active {
        background-color: pink;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
       }